section {
  display: flex;
  flex-direction: column;
 
  align-items: center;
}
div {
  width: 300px;
  height: 100px;
  text-align: center;
}
p {
  display: inline-flex;

  
  margin: 0px;
}

.vermilion {
  background-color: #ef482a;
  color: white;
}
.pure_purple {
  background-color: #6e71fc;
  color: white;
}
.black_bloc {
  background-color: #000000;
  color: white;
}
